Säosim/.vs/Säosim/v15/Server/sqlite3/db.lock
Säosim/.vs/Säosim/v15/Server/sqlite3/storage.ide
Säosim/.vs/Säosim/v15/Server/sqlite3/storage.ide-shm
Säosim/.vs/Säosim/v15/Server/sqlite3/storage.ide-wal
Säosim/.vs/Säosim/v15/.suo
Säosim/Säosim/bin/DesktopGL/AnyCPU/Debug/Säosim.exe
Säosim/Säosim/bin/DesktopGL/AnyCPU/Debug/Säosim.pdb
Säosim/Säosim/obj/Debug/Säosim.exe
Säosim/Säosim/obj/Debug/Säosim.pdb
Säosim/.vs/Säosim/v15/.suo
Säosim/Säosim/bin/DesktopGL/AnyCPU/Debug/Säosim.exe
Säosim/Säosim/bin/DesktopGL/AnyCPU/Debug/Säosim.pdb
Säosim/Säosim/obj/Debug/Säosim.exe
Säosim/Säosim/obj/Debug/Säosim.pdb
Säosim/.vs/Säosim/v15/.suo
Säosim/.vs/Säosim/v15/.suo
Säosim/Säosim/bin/DesktopGL/AnyCPU/Debug/Säosim.exe
Säosim/Säosim/bin/DesktopGL/AnyCPU/Debug/Säosim.pdb
Säosim/Säosim/obj/Debug/Säosim.exe
Säosim/Säosim/obj/Debug/Säosim.pdb
Säosim/.vs/Säosim/v15/.suo
Säosim/Säosim/bin/DesktopGL/AnyCPU/Debug/Säosim.exe
*.pdb
Säosim/Säosim/bin/DesktopGL/AnyCPU/Debug/Positions.txt
